@import url('media/https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

.products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    margin: 20px;
}

.products__card {
    width: 15%;
    font-family: "Montserrat", sans-serif;
    border: solid 2px rgba(129, 125, 125, 0.446);
    height: 300px;
    position: relative;
    font-size: 16px;
    margin: 10px;
    border-radius: 10px;
}

.products__card:hover .delete-icon {
    display: block;
}

.card__image-block {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.card__image {
    height: 100%;
}

.card__name {
    margin: 10px;
    font-size: 16px;
}

.card__meta {
    font-size: 14px;
    color: #a6a6a6;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.card__description {
    padding: 10px;
    height: 50%;
    box-sizing: border-box;
    position: relative;
}

.card__cost {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    font-weight: 700;
    font-size: 20px;
}

.delete-icon {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 90px;
    height: 90px;
    background-image: url('media/delete.svg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.card__cost::after {
    display: block;   
    content: '';
    background-image: url('media/rub.svg');
    background-size: cover;
    width: 20px;
    height: 20px;
}

.card__rating {
    display: flex;
    justify-content: center;
}

.card__rating::after {
    display: block;
    content: '';
    background-image: url('media/star.svg');
    background-size: cover;
    width: 18px;
    height: 18px;
}

.products__add {
    display: flex; 
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    position: relative; 

    width: 15%;
    font-family: "Montserrat", sans-serif;  
    border: solid 2px rgba(129, 125, 125, 0.446);
    height: 300px;
    position: relative;
    font-size: 16px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.products__add img {
    opacity: 1; 
    visibility: visible;

    width: 100%;
    height: 100%;
}

.products__add img.hide {
    opacity: 0; 
    visibility: hidden; 
}